:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --font-family: "Arial", sans-serif;
  --cta-bg-color: #007bff;
  --cta-text-color: #fff;
  --cta-primary-hover-bg-color: #fcfcfcca;
  --cta-secondary-hover-bg-color: #043a53bb;
  --secondary-cta-bg-color: #6c757d;
  --secondary-cta-hover-bg-color: #5a6268;
  --cta-logo-text-color: #043a53;
  --text-color-black: #12141d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  height: 98px;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef;
}

header img {
  width: 95px;
  height: 17px;
}

nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background: var(--cta-logo-text-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.header-btn-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  margin-top: 2rem;
  text-align: center;
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#hero {
  text-align: center;
  padding: 4rem 0;
  background-color: #e9ecef;
  border-radius: 8px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero img {
  width: 212px;
  height: 340px;
  mix-blend-mode: multiply;
}

.mobile-hero-imgs {
  display: none;
}

.polygon {
  background-color: var(--cta-logo-text-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polygon-img {
  width: 14px !important;
  height: 14px !important;
  mix-blend-mode: normal !important;
}

.btn-hero {
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--cta-logo-text-color);
  font-size: 16px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hero h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;
  color: var(--text-color-black);
  width: 709px;
}

#hero p {
  width: 700px;
  opacity: 70%;
  font-size: 20px;
  color: var(--text-color-black);
  line-height: 100%;
  text-align: center;
  margin: auto;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.primary-cta {
  background-color: var(--cta-text-color);
  color: var(--text-color);
  padding: 8px 16px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
}

.primary-cta:hover {
  background-color: var(--cta-primary-hover-bg-color);
}

.secondary-cta {
  background-color: var(--cta-logo-text-color);
  color: var(--cta-text-color);
  padding: 8px 16px;
  border: none;
  border-radius: 42px;
  cursor: pointer;
}

.secondary-cta:hover {
  background-color: var(--cta-secondary-hover-bg-color);
}

#brand {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#brand p {
  padding-top: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

#brand div {
  display: flex;
  align-items: center;
  gap: 64px;
}

@media (max-width: 768px) {
  #hero {
    padding: 3rem 1.5rem;
  }
  #hero h1 {
    font-size: 2rem;
  }
  #hero p {
    font-size: 1.1rem;
  }
  .hamburger {
    display: flex;
  }
  .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
  .cta-buttons button {
    /* width: 100%; */
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  #hero {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  #hero h1 {
    font-size: 1.75rem;
    width: 280px;
    margin: auto;
    line-height: 40px;
  }
  #hero p {
    font-size: 1rem;
    width: 330px;
  }

  .hero-img {
    display: none;
  }

  .cta-buttons {
    margin-bottom: 16px;
  }

  .mobile-hero-imgs {
    display: flex;
    align-items: center;
  }

  nav {
    display: none;
  }

  .mobile-btn {
    width: 140px !important;
  }

  .header-btn-actions {
    display: none;
  }
}
